/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'SonicFont';
    src: url('https://cdn.polyhydragames.com/fonts/SonicLogoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'sega';
    src: url('assets/fonts/sega.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}